In [15]:
import pandas as pd  
import numpy as np 
wasting_time = pd.read_csv("../data/raw/timewaster.csv", index_col=0)

In [ ]:
#wasting_time.head()

,Age,Gender,Location,Income,Debt,Owns Property,Profession,Demographics,Platform,Total Time Spent,...,ProductivityLoss,Satisfaction,Watch Reason,DeviceType,OS,Watch Time,Self Control,Addiction Level,CurrentActivity,ConnectionType
UserID,,,,,,,,,,,,,,,,,,,,,
1,56,Male,Pakistan,82812,True,True,Engineer,Rural,Instagram,80,...,3,7,Procrastination,Smartphone,Android,9:00 PM,5,5,Commuting,Mobile Data
2,46,Female,Mexico,27999,False,True,Artist,Urban,Instagram,228,...,5,5,Habit,Computer,Android,5:00 PM,7,3,At school,Wi-Fi
3,32,Female,United States,42436,False,True,Engineer,Rural,Facebook,30,...,6,4,Entertainment,Tablet,Android,2:00 PM,8,2,At home,Mobile Data
4,60,Male,Barzil,62963,True,False,Waiting staff,Rural,YouTube,101,...,3,7,Habit,Smartphone,Android,9:00 PM,5,5,Commuting,Mobile Data
5,25,Male,Pakistan,22096,False,True,Manager,Urban,TikTok,136,...,8,2,Boredom,Smartphone,iOS,8:00 AM,10,0,At home,Mobile Data

In [21]:
wasting_time.Platform

UserID
1       Instagram
2       Instagram
          ...
999       YouTube
1000      YouTube
Name: Platform, Length: 1000, dtype: object

In [22]:
wasting_time.loc[:, ['Platform', 'Gender', 'Total Time Spent']]

         Platform  Gender  Total Time Spent
UserID
1       Instagram    Male                80
2       Instagram  Female               228
...           ...     ...               ...
999       YouTube    Male               151
1000      YouTube    Male               167

[1000 rows x 3 columns]

## Sources:

[Project Reboot](https://www.projectreboot.school/about)